# Auto switch power mode on AC power change
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", RUN+="/usr/libexec/asus-power-manager/scripts/battery-on-battery.sh"
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", RUN+="/usr/libexec/asus-power-manager/scripts/battery-on-ac.sh"
