[Desktop Entry]
Name=Tweaks ASUS TUF
GenericName=ASUS TUF Hardware & Power Tweaks
Comment=Kontrol Daya, Kipas, Keyboard RGB, dan Layanan ASUS TUF Gaming
Exec=/usr/bin/asus-power-manager
Icon=com.rezkycodes.BatteryManager
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=battery;power;baterai;hemat;performa;charge;asus;tuf;rgb;fan;tweaks;
StartupNotify=true
X-GNOME-UsesNotifications=true
